In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
# Randomly select 500 unique latitudes
latitude_list = []

for x in range(2500):
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))

# Convert list to series
latitude_list_series = pd.Series(latitude_list)

In [3]:
# Randomly select 500 unique longitudes
longitude_list = []

for x in range(2500):
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
# Concatentate the series into a df
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
#lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

            0          1
0 -173.454890   5.250716
1 -178.876390  12.343234
2   79.589604 -31.357721
3   11.728529  34.929771
4 -154.883741 -24.964158
5    1.647961  41.779537
6   98.352875 -88.414636
7   -7.494873  -3.687876
8   13.960394  14.822973
9  -58.132458 -31.142130

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Country Code"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={0: "Latitude", 1:"Longitude"})
lat_and_long.head()

     Latitude  Longitude City Country Code Temperature Cloudiness Windspeed
0 -173.454890   5.250716
1 -178.876390  12.343234
2   79.589604 -31.357721
3   11.728529  34.929771
4 -154.883741 -24.964158

In [6]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    x = row["Latitude"]
    y = row["Longitude"]
    #city = citipy.nearest_city(x,y)
    lat_and_long.set_value(index, "City", citipy.nearest_city(x, y).city_name)
    lat_and_long.set_value(index, "Country Code", citipy.nearest_city(x, y).country_code)
    #city_list = city.city_name
    #cities.append(city_list)
lat_and_long
#print(len(city_list))
#print(cities)
#len(cities)
#cities = pd.Series(cities)

,Latitude,Longitude,City,Country Code,Temperature,Cloudiness,Windspeed
0,-173.454890,5.250716,ushuaia,ar,,,
1,-178.876390,12.343234,bredasdorp,za,,,
2,79.589604,-31.357721,illoqqortoormiut,gl,,,
3,11.728529,34.929771,galgani,sd,,,
4,-154.883741,-24.964158,ushuaia,ar,,,
5,1.647961,41.779537,dujuma,so,,,
6,98.352875,-88.414636,qaanaaq,gl,,,
7,-7.494873,-3.687876,jamestown,sh,,,
8,13.960394,14.822973,mao,td,,,
9,-58.132458,-31.142130,chuy,uy,,,
10,-172.432464,88.506761,albany,au,,,
11,7.944463,-58.090195,georgetown,gy,,,
12,23.034529,32.769318,aswan,eg,,,
13,-36.000912,-69.188655,san rafael,ar,,,
14,-151.348956,-61.419754,ushuaia,ar,,,
15,38.916976,42.935765,adilcevaz,tr,,,
16,47.803956,-22.834549,praia da vitoria,pt,,,
17,-138.781195,-33.054940,ushuaia,ar,,,
18,-92.662511,0.118248,hermanus,za,,,
19,15.463669,-48.755951,sinnamary,gf,,,
20,-22.040340,-8.071237,jamestown,sh,,,
21,-126.532330,-75.953127,ushuaia,ar,,,
22,102.613231,-73.658038,qaanaaq,gl,,,
23,11.414887,-55.073851,oistins,bb,,,
24,167.610776,-88.434254,qaanaaq,gl,,,
25,162.977334,68.365034,dikson,ru,,,
26,-119.997448,-89.328454,ushuaia,ar,,,
27,-64.066003,8.214523,hermanus,za,,,
28,64.464635,-41.650936,tasiilaq,gl,,,
29,-177.085466,-21.799825,ushuaia,ar,,,
...,...,...,...,...,...,...,...
2470,165.043929,48.299426,longyearbyen,sj,,,
2471,-149.667474,-75.137215,ushuaia,ar,,,
2472,-3.846857,-66.749162,carauari,br,,,
2473,45.196383,28.482157,niculitel,ro,,,
2474,-49.627350,-40.735684,rocha,uy,,,
2475,-132.334468,-35.701400,ushuaia,ar,,,
2476,-48.794418,-14.879409,jamestown,sh,,,
2477,-154.276526,-75.460866,ushuaia,ar,,,
2478,-143.650079,54.487547,port alfred,za,,,
2479,75.307584,-7.265381,klaksvik,fo,,,
2480,150.538015,19.074415,longyearbyen,sj,,,
2481,26.088407,56.769138,qeshm,ir,,,
2482,36.554939,82.597257,aksu,cn,,,
2483,156.944835,79.382536,dikson,ru,,,
2484,112.891718,-23.432448,illoqqortoormiut,gl,,,
2485,-168.176007,-85.445005,ushuaia,ar,,,
2486,-150.270483,52.213816,port elizabeth,za,,,
2487,98.238871,-84.421070,qaanaaq,gl,,,
2488,93.722693,-66.198778,qaanaaq,gl,,,
2489,120.830917,-24.946528,illoqqortoormiut,gl,,,
2490,93.857651,9.990147,barentsburg,sj,,,
2491,-38.401459,14.519415,cape town,za,,,
2492,-123.258069,-62.893451,ushuaia,ar,,,
2493,-179.866647,76.983463,albany,au,,,
2494,-74.644360,-12.453589,cape town,za,,,
2495,159.471708,78.823034,dikson,ru,,,
2496,-36.302098,63.754908,saint-philippe,re,,,
2497,93.621534,53.632139,belushya guba,ru,,,
2498,32.154328,53.298092,meybod,ir,,,
2499,26.119621,-72.152373,cockburn town,bs,,,

In [7]:
lat_and_long = lat_and_long.drop_duplicates(subset = ["City"], keep = "first")
lat_and_long = lat_and_long.reset_index(drop=True)
lat_and_long

,Latitude,Longitude,City,Country Code,Temperature,Cloudiness,Windspeed
0,-173.454890,5.250716,ushuaia,ar,,,
1,-178.876390,12.343234,bredasdorp,za,,,
2,79.589604,-31.357721,illoqqortoormiut,gl,,,
3,11.728529,34.929771,galgani,sd,,,
4,1.647961,41.779537,dujuma,so,,,
5,98.352875,-88.414636,qaanaaq,gl,,,
6,-7.494873,-3.687876,jamestown,sh,,,
7,13.960394,14.822973,mao,td,,,
8,-58.132458,-31.142130,chuy,uy,,,
9,-172.432464,88.506761,albany,au,,,
10,7.944463,-58.090195,georgetown,gy,,,
11,23.034529,32.769318,aswan,eg,,,
12,-36.000912,-69.188655,san rafael,ar,,,
13,38.916976,42.935765,adilcevaz,tr,,,
14,47.803956,-22.834549,praia da vitoria,pt,,,
15,-92.662511,0.118248,hermanus,za,,,
16,15.463669,-48.755951,sinnamary,gf,,,
17,11.414887,-55.073851,oistins,bb,,,
18,162.977334,68.365034,dikson,ru,,,
19,64.464635,-41.650936,tasiilaq,gl,,,
20,57.918298,-8.695626,stornoway,gb,,,
21,10.015257,71.227592,kavaratti,in,,,
22,-4.647625,-57.988641,maues,br,,,
23,173.187801,-31.429969,narsaq,gl,,,
24,120.051353,22.855220,longyearbyen,sj,,,
25,65.991357,77.844073,urengoy,ru,,,
26,-19.293902,18.761261,grootfontein,na,,,
27,-57.308486,-19.677978,cidreira,br,,,
28,173.449407,-7.372757,barentsburg,sj,,,
29,107.589772,62.852524,belushya guba,ru,,,
...,...,...,...,...,...,...,...
495,-19.012173,-52.693937,cassilandia,br,,,
496,33.632720,9.741469,qabis,tn,,,
497,39.800094,83.151239,kuche,cn,,,
498,2.900480,-17.229284,bonthe,sl,,,
499,7.882205,-3.266821,tanda,ci,,,
500,57.317202,55.889173,osa,ru,,,
501,6.869241,-19.736389,bubaque,gw,,,
502,35.192178,7.441266,manzil salim,tn,,,
503,-10.228443,13.641602,sumbe,ao,,,
504,-41.711382,-49.834101,rocha,uy,,,
505,50.119840,-72.128962,dolbeau,ca,,,
506,-38.220631,-53.970059,maldonado,uy,,,
507,54.624886,-12.501140,westport,ie,,,
508,46.978455,55.041943,karaton,kz,,,
509,-34.823873,-64.618709,general pico,ar,,,
510,26.367678,-78.404554,high rock,bs,,,
511,30.791393,80.505511,dharchula,in,,,
512,42.937770,-4.371948,reinosa,es,,,
513,33.172660,75.066779,ramban,in,,,
514,11.411832,5.838361,kontagora,ng,,,
515,-23.201526,80.786314,grand river south east,mu,,,
516,24.835981,-77.864211,andros town,bs,,,
517,55.793160,56.869485,karaidel,ru,,,
518,60.960726,10.034354,dokka,no,,,
519,-5.978091,-39.231332,acopiara,br,,,
520,31.269308,50.588896,behbahan,ir,,,
521,-3.846857,-66.749162,carauari,br,,,
522,45.196383,28.482157,niculitel,ro,,,
523,26.088407,56.769138,qeshm,ir,,,
524,32.154328,53.298092,meybod,ir,,,

In [8]:
# Create settings dictionary 
settings = {"units": "imperial", "APPID": api_key}
# Perform a weather check on each of the cities using a series of successive API calls
current_weather_luanda = owm.get_current("luanda", **settings)

# Include a print log of each city as it is being processed with the city number, city name, and requested URL.
print(f"Current weather object for luanda: {current_weather_luanda}.")

Current weather object for luanda: {'coord': {'lon': 13.24, 'lat': -8.83}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 87.8, 'pressure': 1009, 'humidity': 70, 'temp_min': 87.8, 'temp_max': 87.8}, 'visibility': 10000, 'wind': {'speed': 9.17, 'deg': 290}, 'clouds': {'all': 75}, 'dt': 1522065600, 'sys': {'type': 1, 'id': 6821, 'message': 0.0032, 'country': 'AO', 'sunrise': 1522041043, 'sunset': 1522084453}, 'id': 2240449, 'name': 'Luanda', 'cod': 200}.

In [9]:
# Save a CSV of all data retrieved

In [10]:
# Your objective is to build a series of scatter plots to showcase the following relationships:

# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude

In [11]:
# Build a scatter plot for each data type

#plt.scatter(df["temperature"].astype(int),
            #df["latitude"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="?")

# Label the graph and set axis limits
#plt.title("")
#plt.ylabel("")
#plt.xlabel("")
#plt.grid(True)
#plt.xlim([, ])
#plt.ylim([, ])

# Save the figure as png image (for each scatter plot) 
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()