In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
latitude_list = []
for x in range(500):
    # Randomly select 500 unique latitudes
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))
    #print(latitude_list)
    # this works but it is a very long list 
latitude_list_series = pd.Series(latitude_list)
# Then add the values to the DataFrame:
#city_df['new_col'] = latitude_list_series.values

In [3]:
longitude_list = []
for x in range(500):
    # Randomly select 500 unique longitudes
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
#lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

            0          1
0  128.534425 -45.082788
1 -113.427679  55.943951
2   -9.955638 -63.294014
3   50.600546  60.779927
4   67.686236 -50.167674
5   63.702201 -43.748950
6  -15.003530  62.771275
7 -137.298886  36.647671
8 -153.152380  56.191949
9  108.730789  35.054492

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={0: "Latitude", 1:"Longitude"})
lat_and_long.head()

     Latitude  Longitude City Temperature Cloudiness Windspeed
0  128.534425 -45.082788
1 -113.427679  55.943951
2   -9.955638 -63.294014
3   50.600546  60.779927
4   67.686236 -50.167674

In [11]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    x = row["Latitude"]
    y = row["Longitude"]
    city = citipy.nearest_city(x,y)
    city_list = city.city_name
    cities.append(city_list)
#print(len(city_list))
print(cities)
#len(cities)
#cities = pd.Series(cities)

['narsaq', 'port alfred', 'ariquemes', 'svetlyy', 'qasigiannguit', 'qaqortoq', 'grand gaube', 'port elizabeth', 'port alfred', 'longyearbyen', 'vestmannaeyjar', 'longyearbyen', 'taolanaro', 'longyearbyen', 'ushuaia', 'somerset', 'cape town', 'jamestown', 'illoqqortoormiut', 'barentsburg', 'carnarvon', 'albany', 'port alfred', 'jacobina', 'barentsburg', 'itacare', 'ushuaia', 'alexandria', 'barentsburg', 'monrovia', 'bredasdorp', 'port alfred', 'qaanaaq', 'ushuaia', 'kangly', 'ponta do sol', 'dikson', 'bredasdorp', 'qaanaaq', 'birao', 'bredasdorp', 'karaul', 'dikson', 'illoqqortoormiut', 'barentsburg', 'luena', 'ushuaia', 'welkom', 'longyearbyen', 'port elizabeth', 'katima mulilo', 'hermanus', 'dano', 'longyearbyen', 'sergeyevka', 'nuuk', 'ushuaia', 'ponta do sol', 'port alfred', 'ushuaia', 'luderitz', 'dikson', 'punta arenas', 'dikson', 'dikson', 'marsa matruh', 'ushuaia', 'hermanus', 'qaanaaq', 'dikson', 'longyearbyen', 'saint george', 'barentsburg', 'belushya guba', 'hambantota', 'qaanaaq', 'cayenne', 'barentsburg', 'belushya guba', 'ushuaia', 'belushya guba', 'ushuaia', 'ushuaia', 'longyearbyen', 'albany', 'richards bay', 'qaanaaq', 'upernavik', 'ilulissat', 'ushuaia', 'agropoli', 'port elizabeth', 'grand river south east', 'ushuaia', 'qaanaaq', 'dikson', 'pisco', 'ushuaia', 'aguimes', 'arkhangelsk', 'kruisfontein', 'albany', 'qaanaaq', 'ribeira grande', 'ushuaia', 'belushya guba', 'qaanaaq', 'ushuaia', 'husavik', 'port alfred', 'shache', 'port alfred', 'tarut', 'olafsvik', 'illoqqortoormiut', 'barentsburg', 'qaanaaq', 'bredasdorp', 'ushuaia', 'ischia', 'barentsburg', 'ushuaia', 'ushuaia', 'bilma', 'port elizabeth', 'longyearbyen', 'port alfred', 'barentsburg', 'ushuaia', 'qaanaaq', 'codrington', 'ushuaia', 'taolanaro', 'port elizabeth', 'ushuaia', 'belushya guba', 'mecca', 'illoqqortoormiut', 'longyearbyen', 'hermanus', 'qaanaaq', 'qaanaaq', 'charlestown', 'ushuaia', 'yar-sale', 'tsihombe', 'vestmannaeyjar', 'ushuaia', 'atraulia', 'ushuaia', 'narsaq', 'belushya guba', 'saint-philippe', 'fleury-merogis', 'ushuaia', 'ankazoabo', 'illoqqortoormiut', 'taolanaro', 'puntarenas', 'albany', 'taolanaro', 'orcopampa', 'chute-aux-outardes', 'bredasdorp', 'ribeira grande', 'tasiilaq', 'albany', 'qaanaaq', 'ushuaia', 'astana', 'longyearbyen', 'dikson', 'qaanaaq', 'narsaq', 'bredasdorp', 'ponta do sol', 'ushuaia', 'vestmanna', 'new york', 'longyearbyen', 'qaanaaq', 'rocha', 'qaanaaq', 'qaanaaq', 'marcona', 'prainha', 'atar', 'longyearbyen', 'port elizabeth', 'ushuaia', 'mahadday weyne', 'hermanus', 'jamestown', 'albany', 'marcona', 'lebu', 'codrington', 'ribeira grande', 'port elizabeth', 'saint george', 'cidreira', 'port blair', 'ushuaia', 'saint-philippe', 'upernavik', 'port alfred', 'ushuaia', 'albany', 'belushya guba', 'de panne', 'saint-paul', 'parintins', 'port alfred', 'cidreira', 'ribeira grande', 'kasangulu', 'hermanus', 'hobyo', 'ushuaia', 'port elizabeth', 'bredasdorp', 'souillac', 'dikson', 'ushuaia', 'yanam', 'east london', 'ushuaia', 'bengkulu', 'dikson', 'buqayq', 'ushuaia', 'longyearbyen', 'ushuaia', 'bredasdorp', 'dikson', 'coquimbo', 'barentsburg', 'ostrovnoy', 'bengkulu', 'ushuaia', 'barentsburg', 'hermanus', 'longyearbyen', 'ponta do sol', 'port alfred', 'baymak', 'ushuaia', 'illoqqortoormiut', 'albany', 'oussouye', 'busselton', 'mar del plata', 'ushuaia', 'le vauclin', 'longyearbyen', 'ushuaia', 'qaanaaq', 'thunder bay', 'ushuaia', 'ushuaia', 'viedma', 'narsaq', 'qaanaaq', 'zhezkazgan', 'kruisfontein', 'suffolk', 'tarudant', 'belushya guba', 'ushuaia', 'qaanaaq', 'longyearbyen', 'arraial do cabo', 'salalah', 'port alfred', 'qaanaaq', 'barentsburg', 'port elizabeth', 'cape town', 'longyearbyen', 'iqaluit', 'longyearbyen', 'port alfred', 'qaanaaq', 'attawapiskat', 'mar del plata', 'port elizabeth', 'omboue', 'mar del plata', 'nanortalik', 'dikson', 'dikson', 'jamestown', 'luderitz', 'ushuaia', 'bredasdorp', 'qaanaaq', 'pimentel', 'ushuaia', 'fort-shevchenko', 'bredasdorp', 'east london', 'sena madureira', 'aflu', 'qaanaaq', 'bara', 'qaanaaq', 'port alfred', 'arraial do cabo', 'dikson', 'longyearbyen', 'ushuaia', 'ushuaia', 'ponta do sol', 'hermanus', 'east london', 'barentsburg', 'qaanaaq', 'letterkenny', 'necochea', 'upernavik', 'barentsburg', 'illoqqortoormiut', 'qaanaaq', 'qaanaaq', 'port-gentil', 'kulhudhuffushi', 'bredasdorp', 'longyearbyen', 'louisbourg', 'port elizabeth', 'dikson', 'hamilton', 'albany', 'east london', 'qaanaaq', 'ushuaia', 'longyearbyen', 'qaanaaq', 'oppdal', 'belushya guba', 'peniche', 'ushuaia', 'illoqqortoormiut', 'bredasdorp', 'bredasdorp', 'illoqqortoormiut', 'busselton', 'bredasdorp', 'ushuaia', 'illoqqortoormiut', 'georgetown', 'illoqqortoormiut', 'sao filipe', 'barentsburg', 'cape town', 'ushuaia', 'dikson', 'port alfred', 'richards bay', 'ushuaia', 'bredasdorp', 'hermanus', 'taolanaro', 'qaanaaq', 'longyearbyen', 'souillac', 'belushya guba', 'narsaq', 'sao filipe', 'tsihombe', 'ushuaia', 'jablah', 'narsaq', 'belushya guba', 'georgetown', 'hermanus', 'tabou', 'port alfred', 'bredasdorp', 'atar', 'comodoro rivadavia', 'nguruka', 'mandera', 'longyearbyen', 'ushuaia', 'caravelas', 'albany', 'torbay', 'dikson', 'port alfred', 'longyearbyen', 'upernavik', 'albany', 'illoqqortoormiut', 'jamestown', 'illoqqortoormiut', 'ushuaia', 'narsaq', 'camacha', 'illoqqortoormiut', 'illoqqortoormiut', 'cidreira', 'qaanaaq', 'saint george', 'ushuaia', 'sulmona', 'castro', 'caravelas', 'ushuaia', 'tasiilaq', 'najran', 'ushuaia', 'ushuaia', 'ushuaia', 'barentsburg', 'ushuaia', 'dikson', 'port elizabeth', 'hermanus', 'warqla', 'qaanaaq', 'barentsburg', 'hithadhoo', 'ushuaia', 'kouango', 'qaanaaq', 'longyearbyen', 'bambous virieux', 'pangnirtung', 'kruisfontein', 'staunton', 'busselton', 'belushya guba', 'chernaya kholunitsa', 'belushya guba', 'qaanaaq', 'husavik', 'sinnamary', 'port elizabeth', 'hithadhoo', 'bulawayo', 'qaanaaq', 'belushya guba', 'ponta do sol', 'ushuaia', 'port elizabeth', 'jamestown', 'barentsburg', 'hermanus', 'cayenne', 'belushya guba', 'ushuaia', 'qaanaaq', 'bengkulu', 'nuuk', 'lexington park', 'qaanaaq', 'qaanaaq', 'ushuaia', 'port alfred', 'klaksvik', 'ushuaia', 'northview', 'longyearbyen', 'ushuaia', 'bredasdorp', 'bredasdorp', 'ushuaia', 'hermanus', 'ushuaia', 'albany', 'belushya guba', 'bredasdorp', 'narsaq', 'odweyne', 'black river', 'lavumisa', 'sao felix do xingu', 'longlac', 'ushuaia', 'barentsburg', 'busselton', 'hamilton', 'mahebourg', 'adre', 'punta arenas', 'longyearbyen', 'longyearbyen', 'hermanus', 'albany', 'ushuaia', 'belushya guba', 'tasiilaq', 'illoqqortoormiut', 'vardo', 'den helder', 'bubaque', 'gat', 'qaanaaq', 'ushuaia']

In [ ]:
new_lat_and_long = lat_and_long.append(cities, ignore_index=True)
new_lat_and_long.head()

In [ ]:
# Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
# Perform a weather check on each of the cities using a series of successive API calls. 
# Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# Save both a CSV of all data retrieved and png images for each scatter plot.

In [ ]:
# Create settings dictionary 
#settings = {"units": "imperial", "APPID": api_key}

In [ ]:
#Your objective is to build a series of scatter plots to showcase the following relationships:

#* Temperature (F) vs. Latitude
#* Humidity (%) vs. Latitude
#* Cloudiness (%) vs. Latitude
#* Wind Speed (mph) vs. Latitude

In [ ]:
# Build a scatter plot for each data type
# Example from other activity
#plt.scatter(census_data_complete["Bank Count"].astype(int),
            #census_data_complete["Unemployment Rate"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="Zip Codes")

# Label the graph and set axis limits
#plt.title("Unemployment Rate vs. Bank Count by Zip Code")
#plt.ylabel("Unemployment Rate (%)")
#plt.xlabel("Bank Count")
#plt.grid(True)
#plt.xlim([-2.5, 202])
#plt.ylim([-2.5, 40])

# Save the figure
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()