In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
latitude_list = []
for x in range(500):
    # Randomly select 500 unique latitudes
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))
    #print(latitude_list)
    # this works but it is a very long list 
latitude_list_series = pd.Series(latitude_list)
# Then add the values to the DataFrame:
#city_df['new_col'] = latitude_list_series.values

In [3]:
longitude_list = []
for x in range(500):
    # Randomly select 500 unique longitudes
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
#lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

            0          1
0  118.331297 -52.355183
1  153.147444 -35.743940
2  -27.245378  -2.826666
3 -136.606031 -17.010257
4   33.031662   6.466819
5   60.364077  78.440153
6   91.837672  46.259427
7   69.062417  17.070048
8  168.799846   4.859160
9   10.814504 -43.584774

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={0: "Latitude", 1:"Longitude"})
lat_and_long.head()

     Latitude  Longitude City Temperature Cloudiness Windspeed
0  118.331297 -52.355183
1  153.147444 -35.743940
2  -27.245378  -2.826666
3 -136.606031 -17.010257
4   33.031662   6.466819

In [12]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    x = row["Latitude"]
    y = row["Longitude"]
    #city = citipy.nearest_city(x,y)
    lat_and_long.set_value(index, "City", citipy.nearest_city(x, y).city_name)
    #city_list = city.city_name
    #cities.append(city_list)
lat_and_long
#print(len(city_list))
#print(cities)
#len(cities)
#cities = pd.Series(cities)

,Latitude,Longitude,City,Temperature,Cloudiness,Windspeed
0,118.331297,-52.355183,narsaq,,,
1,153.147444,-35.743940,narsaq,,,
2,-27.245378,-2.826666,jamestown,,,
3,-136.606031,-17.010257,ushuaia,,,
4,33.031662,6.466819,tuggurt,,,
5,60.364077,78.440153,strezhevoy,,,
6,91.837672,46.259427,belushya guba,,,
7,69.062417,17.070048,harstad,,,
8,168.799846,4.859160,barentsburg,,,
9,10.814504,-43.584774,cayenne,,,
10,-51.065531,-57.232833,rawson,,,
11,172.942454,43.035927,longyearbyen,,,
12,-21.674200,69.584354,grand river south east,,,
13,157.281853,22.930829,longyearbyen,,,
14,-176.448793,-69.781768,ushuaia,,,
15,-19.637738,3.521221,namibe,,,
16,-10.160356,40.693548,madimba,,,
17,-162.895279,26.702792,bredasdorp,,,
18,-142.830096,22.617813,bredasdorp,,,
19,-114.590543,-83.247335,ushuaia,,,
20,169.986189,-67.459647,qaanaaq,,,
21,52.063483,22.754791,miedzyrzec podlaski,,,
22,94.138491,-75.820755,qaanaaq,,,
23,42.955666,-53.800201,marystown,,,
24,-45.944509,33.438096,port alfred,,,
25,-36.549257,56.027947,taolanaro,,,
26,-41.031920,-78.725893,ancud,,,
27,-78.013179,-20.511981,ushuaia,,,
28,-35.004845,86.712936,geraldton,,,
29,154.702217,-35.495724,narsaq,,,
...,...,...,...,...,...,...
470,-5.933244,-14.730524,georgetown,,,
471,161.301873,34.773327,longyearbyen,,,
472,-74.897820,-53.251051,ushuaia,,,
473,155.474758,-17.822224,barentsburg,,,
474,174.193970,-57.925032,qaanaaq,,,
475,-88.984574,24.301291,bredasdorp,,,
476,106.284556,78.911260,dikson,,,
477,-34.207520,14.439871,saldanha,,,
478,-74.988593,-25.803209,ushuaia,,,
479,-106.673536,26.332773,bredasdorp,,,
480,44.602513,-47.311096,torbay,,,
481,48.594136,72.007592,atasu,,,
482,-166.045295,-79.255945,ushuaia,,,
483,-68.958797,59.905506,taolanaro,,,
484,151.291824,-7.396897,barentsburg,,,
485,-90.367744,-2.202237,hermanus,,,
486,-153.174105,57.252455,port alfred,,,
487,89.315614,-51.758750,upernavik,,,
488,-13.494456,-7.038773,jamestown,,,
489,-172.695202,-75.057237,ushuaia,,,
490,-20.555365,-87.430456,pisco,,,
491,82.669024,-39.101039,tasiilaq,,,
492,107.501192,80.353202,dikson,,,
493,-173.248018,11.485948,bredasdorp,,,
494,-26.705636,78.568784,grand river south east,,,
495,116.875359,88.683134,dikson,,,
496,102.044226,-45.149230,upernavik,,,
497,-15.914723,-15.217563,georgetown,,,
498,43.646279,-5.672226,gijon,,,
499,-155.401158,-26.779154,ushuaia,,,

In [7]:
#new_lat_and_long = lat_and_long.append(["Cities"] =cities, ignore_index=True)
#lat_and_long = lat_and_long.assign(cities=pd.Series).values
#lat_and_long.head()

In [8]:
# Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
# Perform a weather check on each of the cities using a series of successive API calls. 
# Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# Save both a CSV of all data retrieved and png images for each scatter plot.

In [9]:
# Create settings dictionary 
#settings = {"units": "imperial", "APPID": api_key}

In [10]:
#Your objective is to build a series of scatter plots to showcase the following relationships:

#* Temperature (F) vs. Latitude
#* Humidity (%) vs. Latitude
#* Cloudiness (%) vs. Latitude
#* Wind Speed (mph) vs. Latitude

In [11]:
# Build a scatter plot for each data type
# Example from other activity
#plt.scatter(census_data_complete["Bank Count"].astype(int),
            #census_data_complete["Unemployment Rate"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="Zip Codes")

# Label the graph and set axis limits
#plt.title("Unemployment Rate vs. Bank Count by Zip Code")
#plt.ylabel("Unemployment Rate (%)")
#plt.xlabel("Bank Count")
#plt.grid(True)
#plt.xlim([-2.5, 202])
#plt.ylim([-2.5, 40])

# Save the figure
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()