In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
latitude_list = []
for x in range(500):
    # Randomly select 500 unique latitudes
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))
    #print(latitude_list)
    # this works but it is a very long list 
latitude_list_series = pd.Series(latitude_list)
# Then add the values to the DataFrame:
#city_df['new_col'] = latitude_list_series.values

In [3]:
longitude_list = []
for x in range(500):
    # Randomly select 500 unique longitudes
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [19]:

# Create a new column called "Overall Passing Rate" and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
#school_summary_merge = school_summary_merge.rename(columns={"name_x":"Percent Passing Reading","name_y":"Percent Passing Math"})
#school_summary_merge

                     1 Cities Temperature Cloudiness Windspeed City
0
-92.518676   37.257301
 50.539098   84.862783
-150.364536  69.502388
 8.853431   -14.011096
 156.797142 -14.485561
-179.451082  12.271713
-161.013122 -66.834809
-11.071093  -36.963761
 36.344946   60.689304
-34.713454  -18.252232

In [4]:
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

                     1
0
-92.518676   37.257301
 50.539098   84.862783
-150.364536  69.502388
 8.853431   -14.011096
 156.797142 -14.485561
-179.451082  12.271713
-161.013122 -66.834809
-11.071093  -36.963761
 36.344946   60.689304
-34.713454  -18.252232

In [11]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    city = citipy.nearest_city(index, row[1])
    city_list = city.city_name
    cities.append(city_list)
#print(len(city_list))
#print(cities)
len(cities)
cities = pd.Series(cities)

In [12]:
#lat_and_long.add(cities)

ValueError: operands could not be broadcast together with shapes (250000,) (500,)

In [7]:
# Create settings dictionary 
#settings = {"units": "imperial", "APPID": api_key}

In [8]:
# Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
# Perform a weather check on each of the cities using a series of successive API calls. 
# Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# Save both a CSV of all data retrieved and png images for each scatter plot.

In [9]:
#Your objective is to build a series of scatter plots to showcase the following relationships:

#* Temperature (F) vs. Latitude
#* Humidity (%) vs. Latitude
#* Cloudiness (%) vs. Latitude
#* Wind Speed (mph) vs. Latitude

In [10]:
# Build a scatter plot for each data type
# Example from other activity
#plt.scatter(census_data_complete["Bank Count"].astype(int),
            #census_data_complete["Unemployment Rate"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="Zip Codes")

# Label the graph and set axis limits
#plt.title("Unemployment Rate vs. Bank Count by Zip Code")
#plt.ylabel("Unemployment Rate (%)")
#plt.xlabel("Bank Count")
#plt.grid(True)
#plt.xlim([-2.5, 202])
#plt.ylim([-2.5, 40])

# Save the figure
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()