In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [13]:
# Randomly select 500 unique latitudes
latitude_list = []

for x in range(2500):
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))

# Convert list to series
latitude_list_series = pd.Series(latitude_list)

In [14]:
# Randomly select 500 unique longitudes
longitude_list = []

for x in range(2500):
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
# Concatentate the series into a df
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
#lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

            0          1
0  -10.170973  11.859185
1  104.827018 -26.752531
2 -153.491044 -17.254405
3   83.346982  73.607719
4   63.505567 -37.318198
5 -138.603074 -12.644378
6  171.261805  -8.914846
7   94.579902  29.765270
8  174.234104  26.793438
9  -76.623441 -79.800208

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={0: "Latitude", 1:"Longitude"})
lat_and_long.head()

     Latitude  Longitude City Temperature Cloudiness Windspeed
0  -10.170973  11.859185
1  104.827018 -26.752531
2 -153.491044 -17.254405
3   83.346982  73.607719
4   63.505567 -37.318198

In [6]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    x = row["Latitude"]
    y = row["Longitude"]
    #city = citipy.nearest_city(x,y)
    lat_and_long.set_value(index, "City", citipy.nearest_city(x, y).city_name)
    #city_list = city.city_name
    #cities.append(city_list)
lat_and_long
#print(len(city_list))
#print(cities)
#len(cities)
#cities = pd.Series(cities)

,Latitude,Longitude,City,Temperature,Cloudiness,Windspeed
0,-10.170973,11.859185,luanda,,,
1,104.827018,-26.752531,illoqqortoormiut,,,
2,-153.491044,-17.254405,ushuaia,,,
3,83.346982,73.607719,dikson,,,
4,63.505567,-37.318198,tasiilaq,,,
5,-138.603074,-12.644378,ushuaia,,,
6,171.261805,-8.914846,barentsburg,,,
7,94.579902,29.765270,longyearbyen,,,
8,174.234104,26.793438,longyearbyen,,,
9,-76.623441,-79.800208,ushuaia,,,
10,-106.756467,47.939904,port alfred,,,
11,-31.458165,25.412416,middelburg,,,
12,-138.721848,-43.892398,ushuaia,,,
13,-11.223068,-36.508796,barra dos coqueiros,,,
14,-9.402299,66.133735,hithadhoo,,,
15,172.909508,-44.999436,qaanaaq,,,
16,-52.618092,-37.715722,rocha,,,
17,-105.667028,84.084052,albany,,,
18,-156.067644,74.692414,albany,,,
19,-55.991621,-70.862200,ushuaia,,,
20,-24.689869,-46.558431,itanhaem,,,
21,-19.278723,-34.236909,caravelas,,,
22,64.570355,-50.970450,nuuk,,,
23,-112.481676,41.716088,port elizabeth,,,
24,-168.928471,-23.182223,ushuaia,,,
25,-124.613536,83.166902,albany,,,
26,-24.104037,-80.964671,taltal,,,
27,19.318058,-42.030453,ponta do sol,,,
28,113.933626,-37.519761,upernavik,,,
29,-75.952939,-5.778909,hermanus,,,
...,...,...,...,...,...,...
2470,-113.841006,84.221029,albany,,,
2471,35.077127,86.604726,korla,,,
2472,-131.608619,-49.097848,ushuaia,,,
2473,-60.308731,-72.854731,ushuaia,,,
2474,63.889863,68.666600,aksarka,,,
2475,-122.487777,31.287417,bredasdorp,,,
2476,139.375642,-86.188670,qaanaaq,,,
2477,-0.825444,71.156039,hithadhoo,,,
2478,87.585709,19.746444,longyearbyen,,,
2479,147.015393,-6.105078,barentsburg,,,
2480,10.558192,-22.982387,praia,,,
2481,-170.389994,56.939628,port elizabeth,,,
2482,13.080674,1.006874,gayeri,,,
2483,-123.365160,-87.160508,ushuaia,,,
2484,-109.284955,15.728453,bredasdorp,,,
2485,-166.467431,-81.696064,ushuaia,,,
2486,-79.547655,-3.864444,hermanus,,,
2487,-170.052062,-67.190163,ushuaia,,,
2488,177.180342,-28.046801,illoqqortoormiut,,,
2489,138.982574,86.839466,dikson,,,
2490,-53.193013,-60.558898,ushuaia,,,
2491,-118.389230,53.350869,port alfred,,,
2492,-67.800701,-53.017175,ushuaia,,,
2493,96.695773,70.244079,dikson,,,
2494,-147.008794,37.355581,port elizabeth,,,
2495,-5.070905,30.183209,uvinza,,,
2496,152.478588,-82.394242,qaanaaq,,,
2497,-10.234001,-24.525070,georgetown,,,
2498,38.756337,39.557173,tunceli,,,
2499,-23.479745,-18.183334,jamestown,,,

In [7]:
lat_and_long = lat_and_long.drop_duplicates(subset = ["City"], keep = "first")
lat_and_long = lat_and_long.reset_index(drop=True)
lat_and_long

,Latitude,Longitude,City,Temperature,Cloudiness,Windspeed
0,-10.170973,11.859185,luanda,,,
1,104.827018,-26.752531,illoqqortoormiut,,,
2,-153.491044,-17.254405,ushuaia,,,
3,83.346982,73.607719,dikson,,,
4,63.505567,-37.318198,tasiilaq,,,
5,171.261805,-8.914846,barentsburg,,,
6,94.579902,29.765270,longyearbyen,,,
7,-106.756467,47.939904,port alfred,,,
8,-31.458165,25.412416,middelburg,,,
9,-11.223068,-36.508796,barra dos coqueiros,,,
10,-9.402299,66.133735,hithadhoo,,,
11,172.909508,-44.999436,qaanaaq,,,
12,-52.618092,-37.715722,rocha,,,
13,-105.667028,84.084052,albany,,,
14,-24.689869,-46.558431,itanhaem,,,
15,-19.278723,-34.236909,caravelas,,,
16,64.570355,-50.970450,nuuk,,,
17,-112.481676,41.716088,port elizabeth,,,
18,-24.104037,-80.964671,taltal,,,
19,19.318058,-42.030453,ponta do sol,,,
20,113.933626,-37.519761,upernavik,,,
21,-75.952939,-5.778909,hermanus,,,
22,-35.474899,6.341943,saldanha,,,
23,126.398015,56.690664,belushya guba,,,
24,13.450925,71.057769,kavaratti,,,
25,76.173734,-10.792302,husavik,,,
26,22.735017,28.954796,aswan,,,
27,55.273141,-40.903838,nanortalik,,,
28,-17.362013,-67.297299,colquiri,,,
29,22.492816,11.463609,gat,,,
...,...,...,...,...,...,...
511,-1.379662,19.404033,inongo,,,
512,68.126647,33.726170,olenegorsk,,,
513,47.781999,75.219057,balkhash,,,
514,1.501057,-16.202988,mattru,,,
515,22.801527,2.935236,tessalit,,,
516,31.730197,66.365060,qandahar,,,
517,5.783280,44.710480,xuddur,,,
518,-3.708953,22.106331,mweka,,,
519,61.238421,29.726485,kuznechnoye,,,
520,27.726634,55.276953,lar,,,
521,22.328060,78.324355,pachmarhi,,,
522,-23.412185,32.657541,chokwe,,,
523,10.444334,47.718984,bosaso,,,
524,5.382038,65.337039,ugoofaaru,,,
525,37.224488,19.594552,lixourion,,,
526,30.860859,46.345497,khorramshahr,,,
527,29.447822,84.233241,pokhara,,,
528,18.944300,70.317175,diu,,,
529,26.112445,-83.887159,south venice,,,
530,31.778508,-84.529497,dawson,,,
531,35.847625,16.774426,pachino,,,
532,15.768897,77.772549,dhone,,,
533,34.731412,37.884972,salamiyah,,,
534,45.748407,-7.302608,cervo,,,
535,35.077127,86.604726,korla,,,
536,63.889863,68.666600,aksarka,,,
537,10.558192,-22.982387,praia,,,
538,13.080674,1.006874,gayeri,,,
539,-5.070905,30.183209,uvinza,,,
540,38.756337,39.557173,tunceli,,,

In [17]:
# Create settings dictionary 
settings = {"units": "imperial", "APPID": api_key}
# Perform a weather check on each of the cities using a series of successive API calls
current_weather_luanda = owm.get_current("luanda", **settings)

# Include a print log of each city as it is being processed with the city number, city name, and requested URL.
print(f"Current weather object for luanda: {current_weather_luanda}.")

Current weather object for luanda: {'coord': {'lon': 13.24, 'lat': -8.83}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 87.8, 'pressure': 1009, 'humidity': 70, 'temp_min': 87.8, 'temp_max': 87.8}, 'visibility': 10000, 'wind': {'speed': 9.17, 'deg': 290}, 'clouds': {'all': 75}, 'dt': 1522065600, 'sys': {'type': 1, 'id': 6821, 'message': 0.0032, 'country': 'AO', 'sunrise': 1522041044, 'sunset': 1522084453}, 'id': 2240449, 'name': 'Luanda', 'cod': 200}.

In [9]:
# Save a CSV of all data retrieved

In [11]:
# Your objective is to build a series of scatter plots to showcase the following relationships:

# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude

In [12]:
# Build a scatter plot for each data type

#plt.scatter(df["temperature"].astype(int),
            #df["latitude"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="?")

# Label the graph and set axis limits
#plt.title("")
#plt.ylabel("")
#plt.xlabel("")
#plt.grid(True)
#plt.xlim([, ])
#plt.ylim([, ])

# Save the figure as png image (for each scatter plot) 
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()