In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key, api_key2, api_key3, api_key4, api_key5, api_key6, api_key7
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
# Randomly select 500 unique latitudes
latitude_list = []

for x in range(2500):
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))

# Convert list to series
latitude_list_series = pd.Series(latitude_list)

In [3]:
# Randomly select 500 unique longitudes
longitude_list = []

for x in range(2500):
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
# Concatentate the series into a df
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
#lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

            0          1
0 -102.071644  19.675111
1  -84.657578 -16.047003
2   23.855087  14.718499
3  144.589964 -53.279364
4  -24.561266  -3.712748
5  161.319685 -55.490209
6  -81.447503 -60.614207
7 -101.887053 -60.272463
8  104.962034 -23.134726
9  -65.194600  46.854129

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Country Code"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={0: "Latitude", 1:"Longitude"})
lat_and_long.head()

     Latitude  Longitude City Country Code Temperature Cloudiness Windspeed
0 -102.071644  19.675111
1  -84.657578 -16.047003
2   23.855087  14.718499
3  144.589964 -53.279364
4  -24.561266  -3.712748

In [6]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    x = row["Latitude"]
    y = row["Longitude"]
    city = citipy.nearest_city(x,y)
    lat_and_long.set_value(index, "City", citipy.nearest_city(x, y).city_name)
    lat_and_long.set_value(index, "Country Code", citipy.nearest_city(x, y).country_code)
    city_list = city.city_name
    cities.append(city_list)
#lat_and_long
#print(len(city_list))
#print(cities)

#cities = pd.Series(cities)

In [7]:
lat_and_long.head()

,Latitude,Longitude,City,Country Code,Temperature,Cloudiness,Windspeed
0,-102.071644,19.675111,bredasdorp,za,,,
1,-84.657578,-16.047003,ushuaia,ar,,,
2,23.855087,14.718499,marzuq,ly,,,
3,144.589964,-53.279364,qaanaaq,gl,,,
4,-24.561266,-3.712748,jamestown,sh,,,

In [8]:
lat_and_long = lat_and_long.drop_duplicates(subset = ["City"], keep = "first")
lat_and_long = lat_and_long.reset_index(drop=True)
lat_and_long.head()

,Latitude,Longitude,City,Country Code,Temperature,Cloudiness,Windspeed
0,-102.071644,19.675111,bredasdorp,za,,,
1,-84.657578,-16.047003,ushuaia,ar,,,
2,23.855087,14.718499,marzuq,ly,,,
3,144.589964,-53.279364,qaanaaq,gl,,,
4,-24.561266,-3.712748,jamestown,sh,,,

In [9]:
# Create empty list for storing city + country code together
city_country_list = []

# Iterate through df to populate the list of cities with their country code
for index, row in lat_and_long.iterrows():
    x = row["City"]
    y = row["Country Code"]
    city = str(x) + "," + str(y)
    #print(city)
    if city not in city_country_list:
        city_country_list.append(city) 
#print(city_country_list)

In [53]:
# Create settings dictionary and summary list
settings = {"units": "metric", "appid": api_key4}
summary = ["name", "sys.country", "coord.lon", "coord.lat", "main.temp", "wind.speed", "clouds.all"]

# Create a list to hold the dictionaries
meta_weather_summary = []
# loop through the city,country list to get the current weather
for x in city_country_list:
    print(f"Retrieving data for city:{x}.")
    try:
        current_weather = owm.get_current(x, **settings)
        weather_summary = current_weather(*summary)
        meta_weather_summary.append(weather_summary)
        #print(f"the weather is:{weather_summary}.")
        
    except: 
        print("No data found.")
print(meta_weather_summary)

Retrieving data for city:bredasdorp,za.
Retrieving data for city:ushuaia,ar.
Retrieving data for city:marzuq,ly.
No data found.
Retrieving data for city:qaanaaq,gl.
Retrieving data for city:jamestown,sh.
Retrieving data for city:illoqqortoormiut,gl.
No data found.
Retrieving data for city:east london,za.
Retrieving data for city:kruisfontein,za.
Retrieving data for city:clyde river,ca.
Retrieving data for city:cidreira,br.
Retrieving data for city:port alfred,za.
Retrieving data for city:aschaffenburg,de.
Retrieving data for city:dzilam gonzalez,mx.
Retrieving data for city:longyearbyen,sj.
Retrieving data for city:ribeira grande,pt.
Retrieving data for city:belushya guba,ru.
No data found.
Retrieving data for city:upernavik,gl.
Retrieving data for city:narsaq,gl.
Retrieving data for city:dikson,ru.
Retrieving data for city:kamenka,ru.
Retrieving data for city:albany,au.
Retrieving data for city:codrington,ag.
No data found.
Retrieving data for city:chinsali,zm.
Retrieving data for city:taolanaro,mg.
No data found.
Retrieving data for city:matay,eg.
Retrieving data for city:barentsburg,sj.
No data found.
Retrieving data for city:sao joao da barra,br.
Retrieving data for city:hofn,is.
Retrieving data for city:khash,ir.
Retrieving data for city:strezhevoy,ru.
Retrieving data for city:nigran,es.
Retrieving data for city:busselton,au.
Retrieving data for city:vila velha,br.
Retrieving data for city:victoria,sc.
Retrieving data for city:hithadhoo,mv.
Retrieving data for city:arraial do cabo,br.
Retrieving data for city:toliary,mg.
No data found.
Retrieving data for city:aksarka,ru.
Retrieving data for city:nuuk,gl.
Retrieving data for city:sidi ali,dz.
Retrieving data for city:sayan,pe.
Retrieving data for city:cape town,za.
Retrieving data for city:rawson,ar.
Retrieving data for city:talcahuano,cl.
Retrieving data for city:panjakent,tj.
Retrieving data for city:arys,kz.
Retrieving data for city:straumen,no.
Retrieving data for city:namibe,ao.
Retrieving data for city:chapais,ca.
Retrieving data for city:ambilobe,mg.
Retrieving data for city:port elizabeth,za.
Retrieving data for city:salalah,om.
Retrieving data for city:cachoeiras de macacu,br.
Retrieving data for city:kindu,cd.
Retrieving data for city:joniskelis,lt.
No data found.
Retrieving data for city:constitucion,cl.
Retrieving data for city:monrovia,lr.
Retrieving data for city:mafinga,tz.
No data found.
Retrieving data for city:hermanus,za.
Retrieving data for city:vila do maio,cv.
Retrieving data for city:maceio,br.
Retrieving data for city:porangatu,br.
Retrieving data for city:grindavik,is.
Retrieving data for city:karasjok,no.
Retrieving data for city:savannah bight,hn.
Retrieving data for city:kidal,ml.
Retrieving data for city:kavaratti,in.
Retrieving data for city:bushehr,ir.
Retrieving data for city:thinadhoo,mv.
Retrieving data for city:amderma,ru.
No data found.
Retrieving data for city:andenes,no.
Retrieving data for city:nara,ml.
Retrieving data for city:tsihombe,mg.
No data found.
Retrieving data for city:kenitra,ma.
Retrieving data for city:bayir,jo.
No data found.
Retrieving data for city:inhambane,mz.
Retrieving data for city:hamilton,bm.
Retrieving data for city:matadi,cd.
Retrieving data for city:bambous virieux,mu.
Retrieving data for city:husavik,is.
Retrieving data for city:umzimvubu,za.
No data found.
Retrieving data for city:chuy,uy.
Retrieving data for city:iskateley,ru.
Retrieving data for city:lancaster,us.
Retrieving data for city:santa rosa,ar.
Retrieving data for city:bonthe,sl.
Retrieving data for city:carmelo,uy.
Retrieving data for city:leshukonskoye,ru.
Retrieving data for city:mar del plata,ar.
Retrieving data for city:cabedelo,br.
Retrieving data for city:shihezi,cn.
Retrieving data for city:dembi dolo,et.
Retrieving data for city:the valley,ai.
Retrieving data for city:gumushane,tr.
No data found.
Retrieving data for city:lopandino,ru.
Retrieving data for city:el rosario,co.
Retrieving data for city:leland,no.
Retrieving data for city:guatire,ve.
Retrieving data for city:dalvik,is.
Retrieving data for city:januaria,br.
No data found.
Retrieving data for city:castro,cl.
Retrieving data for city:grand river south east,mu.
No data found.
Retrieving data for city:praia da vitoria,pt.
Retrieving data for city:eskisehir,tr.
Retrieving data for city:ostrovnoy,ru.
Retrieving data for city:richards bay,za.
Retrieving data for city:saint-philippe,re.
Retrieving data for city:ardahan,tr.
Retrieving data for city:saldanha,za.
Retrieving data for city:skalistyy,ru.
No data found.
Retrieving data for city:salcedo,do.
Retrieving data for city:mahebourg,mu.
Retrieving data for city:paamiut,gl.
Retrieving data for city:cayenne,gf.
Retrieving data for city:malanje,ao.
Retrieving data for city:karlskoga,se.
Retrieving data for city:pachino,it.
Retrieving data for city:nortelandia,br.
Retrieving data for city:balkanabat,tm.
Retrieving data for city:ombessa,cm.
Retrieving data for city:ibra,om.
Retrieving data for city:klaksvik,fo.
Retrieving data for city:saint george,bm.
Retrieving data for city:yangambi,cd.
Retrieving data for city:wahran,dz.
No data found.
Retrieving data for city:tasiilaq,gl.
Retrieving data for city:korla,cn.
Retrieving data for city:camacha,pt.
Retrieving data for city:noyabrsk,ru.
Retrieving data for city:sarh,td.
Retrieving data for city:hun,ly.
Retrieving data for city:tunduru,tz.
No data found.
Retrieving data for city:faya,td.
No data found.
Retrieving data for city:bonga,et.
Retrieving data for city:camana,pe.
No data found.
Retrieving data for city:scarborough,gb.
Retrieving data for city:havelock,us.
Retrieving data for city:necochea,ar.
Retrieving data for city:oranjemund,na.
Retrieving data for city:lebu,cl.
Retrieving data for city:montepuez,mz.
Retrieving data for city:louisbourg,ca.
No data found.
Retrieving data for city:georgetown,sh.
Retrieving data for city:andevoranto,mg.
No data found.
Retrieving data for city:teguise,es.
Retrieving data for city:luderitz,na.
Retrieving data for city:atbasar,kz.
Retrieving data for city:joensuu,fi.
Retrieving data for city:boende,cd.
Retrieving data for city:caravelas,br.
Retrieving data for city:punta arenas,cl.
Retrieving data for city:honningsvag,no.
Retrieving data for city:san lawrenz,mt.
Retrieving data for city:cumaribo,co.
No data found.
Retrieving data for city:kwekwe,zw.
Retrieving data for city:lagoa,pt.
Retrieving data for city:westport,ie.
Retrieving data for city:omboue,ga.
Retrieving data for city:aksu,kz.
Retrieving data for city:vardo,no.
Retrieving data for city:qasigiannguit,gl.
Retrieving data for city:sinnamary,gf.
Retrieving data for city:brahmapuri,in.
No data found.
Retrieving data for city:panjab,af.
Retrieving data for city:rochester,us.
Retrieving data for city:lixourion,gr.
Retrieving data for city:porto novo,cv.
Retrieving data for city:sept-iles,ca.
Retrieving data for city:adra,es.
Retrieving data for city:tarudant,ma.
No data found.
Retrieving data for city:cantagallo,co.
Retrieving data for city:kuntaur,gm.
Retrieving data for city:virginia beach,us.
Retrieving data for city:mpanda,tz.
Retrieving data for city:thasra,in.
Retrieving data for city:port antonio,jm.
Retrieving data for city:mpika,zm.
Retrieving data for city:akdepe,tm.
Retrieving data for city:tabulbah,tn.
No data found.
Retrieving data for city:sao filipe,cv.
Retrieving data for city:laguna,br.
No data found.
Retrieving data for city:wladyslawowo,pl.
Retrieving data for city:mitu,co.
Retrieving data for city:tiznit,ma.
Retrieving data for city:kambam,in.
No data found.
Retrieving data for city:goderich,sl.
No data found.
Retrieving data for city:comodoro rivadavia,ar.
Retrieving data for city:saint anthony,ca.
No data found.
Retrieving data for city:bridlington,gb.
Retrieving data for city:cockburn harbour,tc.
No data found.
Retrieving data for city:benghazi,ly.
Retrieving data for city:pompeu,br.
Retrieving data for city:bundibugyo,ug.
Retrieving data for city:jhawarian,pk.
Retrieving data for city:ust-tsilma,ru.
Retrieving data for city:manzil tamim,tn.
No data found.
Retrieving data for city:souillac,mu.
Retrieving data for city:attawapiskat,ca.
No data found.
Retrieving data for city:mbandaka,cd.
Retrieving data for city:adrar,dz.

Retrieving data for city:liwale,tz.
Retrieving data for city:langres,fr.
Retrieving data for city:bilma,ne.
Retrieving data for city:ashdod,il.
Retrieving data for city:jumla,np.
Retrieving data for city:oktyabrskoye,ru.
Retrieving data for city:ambovombe,mg.
Retrieving data for city:calama,cl.
Retrieving data for city:pavino,ru.
Retrieving data for city:nguru,ng.
Retrieving data for city:brae,gb.
Retrieving data for city:ust-kalmanka,ru.
Retrieving data for city:jizan,sa.
Retrieving data for city:hambantota,lk.
Retrieving data for city:tessalit,ml.
Retrieving data for city:key west,us.
Retrieving data for city:ponta do sol,cv.
Retrieving data for city:eyl,so.
Retrieving data for city:mocuba,mz.
Retrieving data for city:estelle,us.
Retrieving data for city:sandwick,gb.
Retrieving data for city:sivagiri,in.
Retrieving data for city:bonavista,ca.
Retrieving data for city:santo anastacio,br.
Retrieving data for city:talara,pe.
Retrieving data for city:balma,fr.
Retrieving data for city:torbay,ca.
Retrieving data for city:saint-augustin,ca.
Retrieving data for city:havoysund,no.
Retrieving data for city:los llanos de aridane,es.
Retrieving data for city:mumford,gh.
Retrieving data for city:eidfjord,no.
Retrieving data for city:baena,es.
Retrieving data for city:mayumba,ga.
Retrieving data for city:bandarbeyla,so.
Retrieving data for city:encruzilhada do sul,br.
Retrieving data for city:belgorod,ru.
Retrieving data for city:berlevag,no.
Retrieving data for city:bara,sd.
No data found.
Retrieving data for city:ouesso,cg.
Retrieving data for city:bollnas,se.
Retrieving data for city:general roca,ar.
Retrieving data for city:sur,om.
Retrieving data for city:kedougou,sn.
Retrieving data for city:kangaatsiaq,gl.
Retrieving data for city:maniitsoq,gl.
Retrieving data for city:krasnyy kommunar,ru.
Retrieving data for city:lar gerd,af.
No data found.
Retrieving data for city:veraval,in.
Retrieving data for city:warqla,dz.
No data found.
Retrieving data for city:novyy urengoy,ru.
Retrieving data for city:utena,lt.
Retrieving data for city:sakakah,sa.
No data found.
Retrieving data for city:barcelos,br.
Retrieving data for city:hobyo,so.
Retrieving data for city:harper,lr.
Retrieving data for city:kurtamysh,ru.
Retrieving data for city:moshupa,bw.
Retrieving data for city:kudahuvadhoo,mv.
Retrieving data for city:meiganga,cm.
Retrieving data for city:maxixe,mz.
Retrieving data for city:ntcheu,mw.
Retrieving data for city:marystown,ca.
Retrieving data for city:ilulissat,gl.
Retrieving data for city:iskilip,tr.
Retrieving data for city:inirida,co.
Retrieving data for city:punta gorda,bz.
Retrieving data for city:igbo ora,ng.
Retrieving data for city:tekkali,in.
Retrieving data for city:sucha beskidzka,pl.
Retrieving data for city:axim,gh.
Retrieving data for city:voyvozh,ru.
Retrieving data for city:vestmannaeyjar,is.
Retrieving data for city:ciudad bolivar,ve.
Retrieving data for city:liverpool,ca.
Retrieving data for city:port blair,in.
Retrieving data for city:santiago,pe.
Retrieving data for city:mitsamiouli,km.
Retrieving data for city:beloha,mg.
Retrieving data for city:jiddah,sa.
No data found.
Retrieving data for city:penzance,gb.
Retrieving data for city:iqaluit,ca.
Retrieving data for city:maragogi,br.
Retrieving data for city:turukhansk,ru.
Retrieving data for city:tasbuget,kz.
No data found.
Retrieving data for city:belmonte,br.
Retrieving data for city:garowe,so.
Retrieving data for city:lasa,cn.
No data found.
Retrieving data for city:zdvinsk,ru.
Retrieving data for city:kautokeino,no.
Retrieving data for city:manta,ec.
Retrieving data for city:walvis bay,na.
Retrieving data for city:hit,iq.
Retrieving data for city:alibag,in.
Retrieving data for city:balykshi,kz.
No data found.
Retrieving data for city:arauco,cl.
Retrieving data for city:kontagora,ng.
Retrieving data for city:utrera,es.
Retrieving data for city:praia,cv.
Retrieving data for city:eirunepe,br.
Retrieving data for city:buraydah,sa.
Retrieving data for city:doctor juan leon mallorquin,py.
Retrieving data for city:santa ines,br.
No data found.
Retrieving data for city:samokov,mk.
Retrieving data for city:yar-sale,ru.
Retrieving data for city:tsienyane,bw.
No data found.
Retrieving data for city:birao,cf.
Retrieving data for city:nanortalik,gl.
Retrieving data for city:olafsvik,is.
No data found.
Retrieving data for city:vila franca do campo,pt.
Retrieving data for city:lago da pedra,br.
No data found.
Retrieving data for city:carballo,es.
Retrieving data for city:concepcion,py.
Retrieving data for city:turinskaya sloboda,ru.
Retrieving data for city:novhorodka,ua.
Retrieving data for city:paramonga,pe.
Retrieving data for city:margate,za.
Retrieving data for city:yuksekova,tr.
Retrieving data for city:lodwar,ke.
Retrieving data for city:podgorenskiy,ru.
Retrieving data for city:grand gaube,mu.
Retrieving data for city:salinas,ec.
Retrieving data for city:carutapera,br.
Retrieving data for city:hvammstangi,is.
No data found.
Retrieving data for city:baherden,tm.
Retrieving data for city:salinopolis,br.
Retrieving data for city:calabozo,ve.
Retrieving data for city:touros,br.
Retrieving data for city:dzhusaly,kz.
No data found.
Retrieving data for city:djibo,bf.
Retrieving data for city:muravlenko,ru.
Retrieving data for city:assen,nl.
Retrieving data for city:lewisporte,ca.
Retrieving data for city:zhanakorgan,kz.
Retrieving data for city:svetlyy,ru.
No data found.
Retrieving data for city:paracuru,br.
Retrieving data for city:binga,cd.
Retrieving data for city:khartoum,sd.
Retrieving data for city:farafangana,mg.
Retrieving data for city:viligili,mv.
No data found.
Retrieving data for city:lukovetskiy,ru.
Retrieving data for city:campagna,it.
Retrieving data for city:nola,cf.
Retrieving data for city:robertsport,lr.
Retrieving data for city:winchester,us.
Retrieving data for city:dalbandin,pk.
Retrieving data for city:moosburg,de.
Retrieving data for city:dolbeau,ca.
No data found.
Retrieving data for city:niono,ml.
Retrieving data for city:gat,ly.
No data found.
Retrieving data for city:arlit,ne.
Retrieving data for city:caaguazu,py.
Retrieving data for city:florida,uy.
Retrieving data for city:harlingen,nl.
Retrieving data for city:halifax,ca.
Retrieving data for city:rudnichnyy,ru.
Retrieving data for city:riyadh,sa.
Retrieving data for city:ilheus,br.
Retrieving data for city:arenapolis,br.
Retrieving data for city:tonk,in.
Retrieving data for city:karlshamn,se.
Retrieving data for city:watsa,cd.
Retrieving data for city:kuytun,cn.
No data found.
Retrieving data for city:tazovskiy,ru.
Retrieving data for city:takoradi,gh.
Retrieving data for city:ogbomosho,ng.
Retrieving data for city:sagua de tanamo,cu.
Retrieving data for city:kiruna,se.
Retrieving data for city:pitimbu,br.
Retrieving data for city:taoudenni,ml.
Retrieving data for city:muyezerskiy,ru.
Retrieving data for city:mporokoso,zm.
Retrieving data for city:alta floresta,br.
Retrieving data for city:albacete,es.
Retrieving data for city:jaen,es.
Retrieving data for city:oeiras do para,br.
Retrieving data for city:tolbazy,ru.
Retrieving data for city:orocue,co.
Retrieving data for city:capreol,ca.
Retrieving data for city:storforshei,no.
Retrieving data for city:soyo,ao.
Retrieving data for city:verkhnyaya inta,ru.
Retrieving data for city:rochefort,fr.
Retrieving data for city:adre,td.
Retrieving data for city:varhaug,no.
Retrieving data for city:guayaramerin,bo.
Retrieving data for city:neuquen,ar.
Retrieving data for city:shache,cn.
Retrieving data for city:bereda,so.
No data found.
Retrieving data for city:wajir,ke.
Retrieving data for city:parfenyevo,ru.
Retrieving data for city:aragarcas,br.
Retrieving data for city:shakiso,et.
Retrieving data for city:san juan,ar.
Retrieving data for city:micheweni,tz.
Retrieving data for city:manoel urbano,br.
Retrieving data for city:muisne,ec.
Retrieving data for city:dingle,ie.
Retrieving data for city:ornskoldsvik,se.
Retrieving data for city:oktyabrsk,ru.
Retrieving data for city:alushta,ua.
Retrieving data for city:nador,ma.
Retrieving data for city:carnarvon,au.
Retrieving data for city:olinda,br.
Retrieving data for city:rio gallegos,ar.
Retrieving data for city:lanivtsi,ua.
Retrieving data for city:hauterive,ca.

Retrieving data for city:plouzane,fr.
Retrieving data for city:aflu,dz.
No data found.
Retrieving data for city:thunder bay,ca.
Retrieving data for city:mercedes,ar.
Retrieving data for city:bumba,cd.
Retrieving data for city:guarapari,br.
Retrieving data for city:san joaquin,bo.
Retrieving data for city:presidente epitacio,br.
Retrieving data for city:rockland,us.
Retrieving data for city:mahanoro,mg.
Retrieving data for city:oudtshoorn,za.
Retrieving data for city:old road,ag.
No data found.
Retrieving data for city:gobabis,na.
Retrieving data for city:hearst,ca.
Retrieving data for city:zaranj,af.
Retrieving data for city:san luis,gt.
Retrieving data for city:san pedro,bz.
Retrieving data for city:thompson,ca.
Retrieving data for city:bargal,so.
No data found.
Retrieving data for city:quatre cocos,mu.
Retrieving data for city:menfi,it.
Retrieving data for city:tanda,ci.
Retrieving data for city:verdalsora,no.
No data found.
Retrieving data for city:ferme-neuve,ca.
Retrieving data for city:sisimiut,gl.
Retrieving data for city:huarmey,pe.
Retrieving data for city:saint-pierre,pm.
Retrieving data for city:saint-joseph,re.
Retrieving data for city:maryanovka,ru.
No data found.
Retrieving data for city:gunjur,gm.
Retrieving data for city:morant bay,jm.
Retrieving data for city:alto araguaia,br.
Retrieving data for city:muros,es.
Retrieving data for city:drinovci,ba.
Retrieving data for city:khromtau,kz.
Retrieving data for city:viedma,ar.
Retrieving data for city:bermeo,es.
Retrieving data for city:hendijan,ir.
No data found.
Retrieving data for city:hammerfest,no.
Retrieving data for city:la asuncion,ve.
Retrieving data for city:rundu,na.
Retrieving data for city:kalmunai,lk.
Retrieving data for city:marfino,ru.
Retrieving data for city:sistranda,no.
Retrieving data for city:vad,ru.
Retrieving data for city:lyngseidet,no.
Retrieving data for city:opuwo,na.
Retrieving data for city:vestmanna,fo.
Retrieving data for city:puerto narino,co.
Retrieving data for city:jati,pk.
Retrieving data for city:agadez,ne.
Retrieving data for city:nathdwara,in.
Retrieving data for city:mineiros,br.
Retrieving data for city:bartica,gy.
Retrieving data for city:saint marys,us.
Retrieving data for city:khandbari,np.
Retrieving data for city:chapada dos guimaraes,br.
Retrieving data for city:tartus,sy.
No data found.
Retrieving data for city:san cristobal,ec.
Retrieving data for city:golpayegan,ir.
Retrieving data for city:jaru,br.
Retrieving data for city:ler,sd.
No data found.
Retrieving data for city:basoko,cd.
Retrieving data for city:barbar,sd.
No data found.
Retrieving data for city:ladario,br.
Retrieving data for city:riaba,gq.
No data found.
Retrieving data for city:riviere-au-renard,ca.
Retrieving data for city:murgab,tm.
Retrieving data for city:derzhavinsk,kz.
Retrieving data for city:dwarka,in.
Retrieving data for city:mantenopolis,br.
Retrieving data for city:puerto baquerizo moreno,ec.
Retrieving data for city:mumbwa,zm.
Retrieving data for city:port shepstone,za.
Retrieving data for city:san marco in lamis,it.
Retrieving data for city:mindelo,cv.
Retrieving data for city:caraballeda,ve.
Retrieving data for city:kaya,bf.
Retrieving data for city:bakchar,ru.
Retrieving data for city:bay city,us.
Retrieving data for city:navapur,in.
No data found.
Retrieving data for city:tromso,no.
Retrieving data for city:ypsonas,cy.
Retrieving data for city:coihaique,cl.
Retrieving data for city:yarega,ru.
Retrieving data for city:oriximina,br.
Retrieving data for city:vilaka,lv.
No data found.
Retrieving data for city:iquique,cl.
Retrieving data for city:pangnirtung,ca.
Retrieving data for city:jais,in.
Retrieving data for city:najran,sa.
Retrieving data for city:rensvik,no.
Retrieving data for city:akcakoca,tr.
Retrieving data for city:jibuti,dj.
No data found.
Retrieving data for city:staryy nadym,ru.
Retrieving data for city:marsaxlokk,mt.
Retrieving data for city:porbandar,in.
Retrieving data for city:rehnan,ir.
Retrieving data for city:shakhtne,ua.
Retrieving data for city:srivardhan,in.
Retrieving data for city:raudeberg,no.
Retrieving data for city:tucurui,br.
Retrieving data for city:forestville,ca.
Retrieving data for city:araouane,ml.
Retrieving data for city:gornoye loo,ru.
Retrieving data for city:kanniyakumari,in.
Retrieving data for city:oksfjord,no.
Retrieving data for city:atar,mr.
Retrieving data for city:titiribi,co.
Retrieving data for city:leh,in.
Retrieving data for city:chuchkovo,ru.
Retrieving data for city:ancud,cl.
Retrieving data for city:chunhuhub,mx.
Retrieving data for city:kirkland lake,ca.
Retrieving data for city:djougou,bj.
Retrieving data for city:masoko,tz.
Retrieving data for city:ginir,et.
Retrieving data for city:gariaband,in.
Retrieving data for city:velykoploske,ua.
Retrieving data for city:pipar,in.
No data found.

In [54]:
meta_df = pd.DataFrame([meta_weather_summary])
meta_df.head()

,0,1,2,3,4,5,6,7,8,9,...,449,450,451,452,453,454,455,456,457,458
0,"(Bredasdorp, ZA, 20.04, -34.53, 27, 4.1, 24)","(Ushuaia, AR, -68.31, -54.81, 6.57, 6.2, 75)","(Qaanaaq, GL, -69.36, 77.48, -24.29, 3.31, 0)","(Jamestown, SH, -5.72, -15.94, 23.24, 0.86, 12)","(East London, ZA, 27.91, -33.02, 27, 5.7, 0)","(Kruisfontein, ZA, 24.73, -34, 28.06, 4.96, 0)","(Clyde River, CA, -68.59, 70.47, -20, 3.1, 75)","(Cidreira, BR, -50.22, -30.17, 21.66, 5.91, 80)","(Port Alfred, ZA, 26.89, -33.59, 26.34, 5.11, 0)","(Aschaffenburg, DE, 9.15, 49.97, 10.36, 3.1, 75)",...,"(Leh, IN, 77.58, 34.16, -15.39, 0.61, 76)","(Chuchkovo, RU, 41.45, 54.27, -0.37, 3.81, 44)","(Ancud, CL, -73.83, -41.87, 13.16, 3.46, 92)","(Chunhuhub, MX, -88.59, 19.59, 26.96, 2.56, 8)","(Kirkland Lake, CA, -80.03, 48.15, 1, 8.2, 75)","(Djougou, BJ, 1.67, 9.71, 35, 3.1, 0)","(Masoko, TZ, 33.75, -9.33, 24.71, 2.26, 32)","(Ginir, ET, 40.71, 7.14, 24.81, 2.61, 20)","(Gariaband, IN, 82.06, 20.63, 23.14, 2.06, 0)","(Velykoploske, UA, 29.68, 47.02, 8, 1.5, 0)"

In [51]:
views = {"summary": ["name", "sys.country", "coord.lon", "coord.lat", "main.temp", "wind.speed", "clouds.all"]}
settings = {"units": "metric", "appid": api_key2}
data = owm.get_current("London,UK", **settings)
data(*views["summary"])
print(data)

# return complete keys
city_dict = data.get_dict(views["summary"])
pd.DataFrame([city_dict])
#{'main.temp': 18.56, 'main.humidity': 63, 'main.pressure': 1011}

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'base': 'stations', 'main': {'temp': 13.54, 'pressure': 1003, 'humidity': 67, 'temp_min': 12, 'temp_max': 15}, 'visibility': 10000, 'wind': {'speed': 5.7, 'deg': 270}, 'clouds': {'all': 75}, 'dt': 1522162200, 'sys': {'type': 1, 'id': 5091, 'message': 0.0059, 'country': 'GB', 'sunrise': 1522129567, 'sunset': 1522175177}, 'id': 2643743, 'name': 'London', 'cod': 200}

   clouds.all  coord.lat  coord.lon  main.temp    name sys.country  wind.speed
0          75      51.51      -0.13      13.54  London          GB         5.7

In [45]:
#import pandas as pd
#summary = ["name", "sys.country", "coord.lon", "coord.lat", "main.temp", "wind.speed", "clouds.all"]
#settings = {"units": "metric", "appid": api_key2}
#current_weather_test = owm.get_current('albany,au', **settings)
#print(current_weather_test)
#for x in current_weather:
#temp = current_weather_test("main.temp")
#print(temp)
    #print(temp)
#data = current_weather_test(*summary)
#df = pd.DataFrame.from_records(data)
lst = list(data)
print(lst)
#print(data)
#data = data.toFrame()
#data_df = pd.DataFrame.from_dict(data)
#df = pd.DataFrame(lst)

['Albany', 'AU', 117.88, -35.02, 16, 4.56, 0]

In [13]:
# Include a print log of each city as it is being processed with the city number, city name, and requested URL.
#print(f"Current weather object for {cities}: {data}.")

In [14]:
# Save a CSV of all data retrieved

In [15]:
# Your objective is to build a series of scatter plots to showcase the following relationships:

# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude

In [16]:
# Build a scatter plot for each data type

#plt.scatter(df["temperature"].astype(int),
            #df["latitude"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="?")

# Label the graph and set axis limits
#plt.title("")
#plt.ylabel("")
#plt.xlabel("")
#plt.grid(True)
#plt.xlim([, ])
#plt.ylim([, ])

# Save the figure as png image (for each scatter plot) 
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()