In [1]:
# Dependencies and config file
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
import openweathermapy as owm
from citipy import citipy
from random import randint
import numpy as np

In [2]:
latitude_list = []
for x in range(500):
    # Randomly select 500 unique latitudes
    latitude_list.append(np.random.uniform(low=-180.0, high=180, size=None))
    #print(latitude_list)
    # this works but it is a very long list 
latitude_list_series = pd.Series(latitude_list)
# Then add the values to the DataFrame:
#city_df['new_col'] = latitude_list_series.values

In [3]:
longitude_list = []
for x in range(500):
    # Randomly select 500 unique longitudes
    longitude_list.append(np.random.uniform(low=-90, high = 90))
    #print(longitude)

# Convert list to series
longitude_list_series = pd.Series(longitude_list)

In [4]:
lat_and_long = pd.concat([latitude_list_series, longitude_list_series], axis=1)
#lat_and_long.head(10)
lat_and_long = lat_and_long.set_index(0)
lat_and_long.head(10)

                     1
0
 104.994678  55.374827
-0.306723    70.637832
-70.746967  -24.192696
-162.879359 -11.396945
 161.154598 -42.749834
-35.543110   37.204296
 151.197349 -62.834723
-145.462876  62.533167
-60.487723   54.972196
-53.566147  -82.614120

In [5]:
# Create new empty columns and add to existing dataframe 
lat_and_long["City"] = ("")
lat_and_long["Temperature"] =("")
lat_and_long["Cloudiness"] =("")
lat_and_long["Windspeed"] =("")
lat_and_long.head(10)
# Rename columns
lat_and_long = lat_and_long.rename(columns={1:"Longitude"})
lat_and_long.head()

             Longitude City Temperature Cloudiness Windspeed
0
 104.994678  55.374827
-0.306723    70.637832
-70.746967  -24.192696
-162.879359 -11.396945
 161.154598 -42.749834

In [9]:
# Blank column for holiding the city name
cities = []

#row_counter = 0
for index, row in lat_and_long.iterrows():
    city = citipy.nearest_city(index, row["Longitude"])
    city_list = city.city_name
    cities.append(city_list)
#print(len(city_list))
print(cities)
#len(cities)
#cities = pd.Series(cities)

['belushya guba', 'thinadhoo', 'mar del plata', 'ushuaia', 'qaanaaq', 'margate', 'qaanaaq', 'port alfred', 'taolanaro', 'punta arenas', 'rio gallegos', 'busselton', 'belushya guba', 'barentsburg', 'saldanha', 'tasiilaq', 'arraial do cabo', 'barentsburg', 'mahebourg', 'bhuvanagiri', 'novouzensk', 'saint-philippe', 'ushuaia', 'salinopolis', 'ushuaia', 'belushya guba', 'port-gentil', 'paamiut', 'dubai', 'longyearbyen', 'seydi', 'belushya guba', 'illoqqortoormiut', 'hamilton', 'lagoa', 'busselton', 'barentsburg', 'port elizabeth', 'cabedelo', 'hithadhoo', 'summerville', 'attawapiskat', 'dikson', 'ushuaia', 'arraial do cabo', 'cockburn town', 'illoqqortoormiut', 'ugoofaaru', 'cape town', 'belushya guba', 'ushuaia', 'barentsburg', 'oussouye', 'upernavik', 'busselton', 'hermanus', 'ushuaia', 'beja', 'hithadhoo', 'tsogni', 'belushya guba', 'clyde river', 'ushuaia', 'toguchin', 'qaanaaq', 'illoqqortoormiut', 'upernavik', 'ushuaia', 'illoqqortoormiut', 'bredasdorp', 'upernavik', 'hermanus', 'ushuaia', 'longyearbyen', 'illoqqortoormiut', 'ushuaia', 'albany', 'port alfred', 'illoqqortoormiut', 'port alfred', 'longyearbyen', 'ushuaia', 'bereda', 'mana', 'urdzhar', 'dikson', 'bredasdorp', 'illoqqortoormiut', 'longyearbyen', 'ushuaia', 'qaanaaq', 'port elizabeth', 'dikson', 'pachino', 'port alfred', 'ushuaia', 'ushuaia', 'barentsburg', 'hermanus', 'ushuaia', 'port alfred', 'albany', 'dikson', 'busselton', 'illoqqortoormiut', 'albany', 'nizwa', 'hermanus', 'ushuaia', 'ushuaia', 'illoqqortoormiut', 'mahebourg', 'georgetown', 'ushuaia', 'albany', 'narsaq', 'lebork', 'illoqqortoormiut', 'ushuaia', 'saint-augustin', 'bredasdorp', 'port said', 'kavaratti', 'barentsburg', 'amderma', 'dikson', 'chuy', 'bredasdorp', 'cape town', 'bredasdorp', 'richards bay', 'longyearbyen', 'barentsburg', 'illoqqortoormiut', 'longyearbyen', 'port alfred', 'ushuaia', 'barentsburg', 'ushuaia', 'port elizabeth', 'ilulissat', 'marfino', 'illoqqortoormiut', 'ushuaia', 'ushuaia', 'channel-port aux basques', 'qaqortoq', 'longyearbyen', 'dikson', 'ushuaia', 'ushuaia', 'dikson', 'port alfred', 'upernavik', 'ushuaia', 'bredasdorp', 'belushya guba', 'vallenar', 'dikson', 'ushuaia', 'dikson', 'east london', 'iqaluit', 'ushuaia', 'hermanus', 'qaanaaq', 'chateaudun', 'grand river south east', 'longyearbyen', 'georgetown', 'cape town', 'jamestown', 'longyearbyen', 'kupino', 'ushuaia', 'faya', 'jamestown', 'qaanaaq', 'longyearbyen', 'belushya guba', 'ushuaia', 'upernavik', 'laguna', 'ruwi', 'marcona', 'ushuaia', 'dikson', 'ushuaia', 'ushuaia', 'port elizabeth', 'ushuaia', 'bredasdorp', 'bredasdorp', 'namibe', 'darnah', 'cockburn town', 'chipinge', 'illoqqortoormiut', 'taolanaro', 'illoqqortoormiut', 'illoqqortoormiut', 'illoqqortoormiut', 'stephenville', 'hermanus', 'ushuaia', 'bredasdorp', 'albany', 'qaanaaq', 'severodvinsk', 'inverness', 'murud', 'sinnamary', 'posse', 'qaanaaq', 'antofagasta', 'bredasdorp', 'usinsk', 'illoqqortoormiut', 'jamestown', 'bredasdorp', 'hithadhoo', 'bredasdorp', 'barentsburg', 'iqaluit', 'ushuaia', 'dikson', 'qaanaaq', 'barra', 'chuy', 'cape town', 'barentsburg', 'illoqqortoormiut', 'dikson', 'illoqqortoormiut', 'longyearbyen', 'acarau', 'qaanaaq', 'eyl', 'ushuaia', 'illoqqortoormiut', 'phuthaditjhaba', 'takoradi', 'longyearbyen', 'jamestown', 'port alfred', 'busselton', 'ushuaia', 'bredasdorp', 'souillac', 'vila velha', 'tsihombe', 'bredasdorp', 'mar del plata', 'illoqqortoormiut', 'longyearbyen', 'illoqqortoormiut', 'thinadhoo', 'qaanaaq', 'ushuaia', 'ushuaia', 'salalah', 'hamilton', 'richards bay', 'ushuaia', 'saint george', 'longyearbyen', 'longyearbyen', 'qaanaaq', 'macamic', 'ushuaia', 'cayenne', 'qaanaaq', 'punta umbria', 'iralaya', 'east london', 'muisne', 'dikson', 'longyearbyen', 'ushuaia', 'ushuaia', 'qaanaaq', 'east london', 'belushya guba', 'geraldton', 'ushuaia', 'qaanaaq', 'touros', 'bredasdorp', 'ushuaia', 'bakchar', 'barentsburg', 'longyearbyen', 'nicoya', 'rawson', 'richards bay', 'keti bandar', 'port elizabeth', 'leshukonskoye', 'albany', 'boo', 'cape town', 'qaanaaq', 'longyearbyen', 'cape town', 'torbay', 'ushuaia', 'ushuaia', 'dikson', 'barentsburg', 'bredasdorp', 'jumla', 'upernavik', 'nouadhibou', 'dikson', 'hermagor', 'ushuaia', 'ushuaia', 'illoqqortoormiut', 'ushuaia', 'qaanaaq', 'port elizabeth', 'hermanus', 'saint-philippe', 'port alfred', 'ushuaia', 'nanortalik', 'torbay', 'karauzyak', 'mbour', 'upernavik', 'albany', 'bredasdorp', 'dikson', 'ushuaia', 'vila franca do campo', 'dikson', 'hermanus', 'dikson', 'qaanaaq', 'qasigiannguit', 'port alfred', 'ushuaia', 'eufaula', 'ushuaia', 'qaanaaq', 'ushuaia', 'port alfred', 'belushya guba', 'qaanaaq', 'barentsburg', 'hithadhoo', 'hermanus', 'ushuaia', 'dikson', 'albany', 'arraial do cabo', 'sambava', 'ushuaia', 'qaanaaq', 'bredasdorp', 'maceio', 'port alfred', 'longyearbyen', 'barentsburg', 'shushtar', 'hermanus', 'dikson', 'port elizabeth', 'belushya guba', 'cape town', 'port hawkesbury', 'ushuaia', 'barentsburg', 'narsaq', 'bardiyah', 'saint-pierre', 'hermanus', 'vagur', 'bredasdorp', 'port blair', 'barentsburg', 'port elizabeth', 'saint-denis', 'upernavik', 'onega', 'illoqqortoormiut', 'blagoyevo', 'barentsburg', 'qaanaaq', 'umzimvubu', 'qaanaaq', 'ushuaia', 'upernavik', 'port alfred', 'bredasdorp', 'illoqqortoormiut', 'belushya guba', 'xai-xai', 'ushuaia', 'barentsburg', 'paramirim', 'ushuaia', 'sawakin', 'dikson', 'illoqqortoormiut', 'bredasdorp', 'qaanaaq', 'arlit', 'port elizabeth', 'kabare', 'longyearbyen', 'codrington', 'dikson', 'qaanaaq', 'upernavik', 'bredasdorp', 'ushuaia', 'dikson', 'quatre cocos', 'busselton', 'belmonte', 'longyearbyen', 'victoria', 'bredasdorp', 'bredasdorp', 'port alfred', 'bredasdorp', 'ushuaia', 'dinard', 'ushuaia', 'longyearbyen', 'longyearbyen', 'bredasdorp', 'albany', 'belushya guba', 'qaanaaq', 'ushuaia', 'ushuaia', 'aden', 'ushuaia', 'saint-philippe', 'belushya guba', 'rocha', 'ushuaia', 'dikson', 'kangaatsiaq', 'houma', 'saint-philippe', 'barentsburg', 'seoni', 'qaanaaq', 'sipe sipe', 'bredasdorp', 'dikson', 'port elizabeth', 'tasiilaq', 'sao felix do xingu', 'illoqqortoormiut', 'bolungarvik', 'bredasdorp', 'sao sebastiao', 'longyearbyen', 'dikson', 'saldanha', 'ushuaia', 'ushuaia', 'monchegorsk', 'port alfred', 'ushuaia', 'beloha', 'dikson', 'upernavik', 'benedita', 'taolanaro', 'longyearbyen', 'abu samrah', 'port elizabeth', 'hermanus', 'port alfred', 'conceicao do araguaia', 'port alfred', 'port alfred', 'dealu', 'cape town', 'siderno', 'port alfred', 'lamu', 'barentsburg', 'aleksandrov gay', 'port alfred', 'ushuaia', 'barentsburg', 'turukhansk', 'belushya guba', 'belushya guba', 'buhusi', 'marzuq', 'muscat', 'bredasdorp', 'venado tuerto']

In [10]:
new_lat_and_long = lat_and_long.append(cities, ignore_index=True)
new_lat_and_long.head()

C:\Users\yod\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

   Longitude City Temperature Cloudiness Windspeed    0
0  55.374827                                        NaN
1  70.637832                                        NaN
2 -24.192696                                        NaN
3 -11.396945                                        NaN
4 -42.749834                                        NaN

In [ ]:
# Randomly select **at least** 500 unique (non-repeat) cities based on latitude and longitude.
# Perform a weather check on each of the cities using a series of successive API calls. 
# Include a print log of each city as it's being processed with the city number, city name, and requested URL.
# Save both a CSV of all data retrieved and png images for each scatter plot.

In [ ]:
# Create settings dictionary 
#settings = {"units": "imperial", "APPID": api_key}

In [ ]:
#Your objective is to build a series of scatter plots to showcase the following relationships:

#* Temperature (F) vs. Latitude
#* Humidity (%) vs. Latitude
#* Cloudiness (%) vs. Latitude
#* Wind Speed (mph) vs. Latitude

In [ ]:
# Build a scatter plot for each data type
# Example from other activity
#plt.scatter(census_data_complete["Bank Count"].astype(int),
            #census_data_complete["Unemployment Rate"],
            #edgecolor="black", linewidths=1, marker="o",
            #alpha=0.8, label="Zip Codes")

# Label the graph and set axis limits
#plt.title("Unemployment Rate vs. Bank Count by Zip Code")
#plt.ylabel("Unemployment Rate (%)")
#plt.xlabel("Bank Count")
#plt.grid(True)
#plt.xlim([-2.5, 202])
#plt.ylim([-2.5, 40])

# Save the figure
#plt.savefig("UnemploymentRate_BankCount.png")

# Show plot
#plt.show()